@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
.flex-tainer{
    height: 100vw;
    width: 100vw;
    border: solid 2px black;
}
         /* End of first main container * DONT FORGET TO REMOVE THE BORDER!! */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 2px gray;
    background-color: black;
}
.nav-title{
    color: white;
    font-family: 'roboto', sans-serif;
}
.nav-links{
    margin: 10px;
    font-family: 'roboto', sans-serif;
    text-decoration: none;
}
.page{
    font-family: 'roboto', sans-serif;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.active{
    font-family: 'roboto', sans-serif;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.find{
    font-family: 'roboto', sans-serif;
    margin: 10px;
    color: white;
    text-decoration: none;
}
.btn{
height: 20px;
width: 70px;
background-color: #17a2b8;
color: white;
}
                /* end of header */
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -351px;
    margin-top: -911px;
}
.user-card{
    display: block;
    height: 400px;
    width: 400px;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}
.card-header{
    background-color: #17a2b8;
    height: 125px;
    width: 400px;
    margin-bottom: 70px;
}
.card-body{
    padding: 20px;
}
.card-body h1,
.card-body h2,
.card-body h3,
.card-body p{
    margin: 5px 0px;
}
.card-footer{
    border-top: 2px solid solid #999;
    display: flex;
    align-items: center;
    padding: 20px;
}
.avatar-m{
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    margin-top: 60px;
    margin-left: 20px;
}
.icon-s{
    height: 20px;
}
.request{
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 300px;
    margin: 0%;
    left: 568px;
    top: 90px;
    border: solid 2px gray;
}
.connection{
    height: 30px;
    width: 250px;
    position: absolute;
    background-color: gray;
    text-align: center;
}
h4{
    font-family: 'roboto' sans-serif;
    text-align: center;
    align-items: center;
}
.span{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: solid .5px white;
    background-color: gray;
    color: black;
    margin-top: -16px;
    margin-left: 20px;
    text-align: center;
    overflow: hidden;
}
.new-friend{
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    margin-top: 20px;
    margin-left: -7px;
}
.anther-friend{
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    margin-left: 122px;
}
.user{
    display: block;
    justify-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 100px;
}
.user2{
    display: block;
    justify-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 100px;
}
.img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.accept{
    display: block;
}
.yes{
    width: 20px;
}
.no{
    width: 20px;
}
.denny{
    display: block;
}
.yes1{
    width: 20px;
}
.no1{
    width: 20px;
}
.friend-list{
    height: 400px;
    width: 250px;
    border: 2px solid gray;
    margin-left: 570px;
    margin-top: -82px;
}
.your-connection{
    height: 30px;
    width: 250px;
    border: 2px solid gray;
    background-color: gray;
    text-align: center;
}
.span1{
    border-radius: 60%;
    height: 25px;
    width: 25px;
    border: solid .5px white;
    background-color: gray;
    color: black;
    margin-top: -23px;
    margin-left: 20px;
    text-align: center;
    overflow: hidden;
}
.old-friends{
    display: inline-flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}
.view-more{
    color: blue;
    text-decoration: underline;
    font-size: 10px;
    border-top: 2px solid gray;
    text-align: center;
    margin-top: 5px;
}
.new-content{
    height: 200px;
    width: 400px; 
    border: 2px solid gray;
    display: block;
}
.education{
    height: 60px;
    width: 400px; 
    border: 2px solid gray;
    display: block;
    margin-left: 100px;
    margin-bottom: 100px;
}
.school{
    height: 60px;
    width: 400px;
    border-bottom: 2px solid gray;
    background-color: gray;
}